.vscode/**
.vscode-test/**
.gitignore
.gitlab-ci.yml
.github/**
.husky/**
node_modules/**
src/**
tests/**
scripts/**
i18n/**
tsconfig*.json
eslint.config.mjs
eslint-suppressions.json
.prettierrc.json
.prettierignore
vitest.config.ts
.mocharc.json
package-lock.json
**/*.vsix
**/*.map
**/*.ts
!dist/**/*.js
